<?xml version="1.0" encoding="UTF-8"?>
<!--<Configuration status="WARN">-->
    <!--<Appender>-->
        <!--<Console name="Console" target="SYSTEM_OUT">-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
        <!--</Console>-->
        <!--<File name="File" fileName="output.log" bufferedIO="false" advertiseURI="file://path/to/output.log" advertise="true">-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
        <!--</File>-->
    <!--</Appender>-->
    <!--<Loggers>-->
        <!--<Logger name="ru.shapovalov.parser.UI.MainUI" level="debug">-->
            <!--<AppenderRef ref="Console"/>-->
            <!--<AppenderRef ref="File"/>-->
        <!--</Logger>-->
        <!--<Logger name="ru.shapovalov.parser.Database.DataBaseProcessor" level="debug">-->
            <!--<AppenderRef ref="Console"/>-->
            <!--<AppenderRef ref="File"/>-->
        <!--</Logger>-->
        <!--<Logger name="ru.shapovalov.parser.REST.ManagerREST" level="debug">-->
            <!--<AppenderRef ref="Console"/>-->
            <!--<AppenderRef ref="File"/>-->
        <!--</Logger>-->
    <!--</Loggers>-->
<!--</Configuration>-->